<p>Xin chào <%= @email %>!</p>

<p>Bạn muốn thay đổi mật khẩu tài khoản trên hệ thống Teky? Vui lòng nhấp vào liên kết bên dưới để tiếp tục:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Nếu không phải bạn yêu cầu thay đổi mật khẩu, bạn có thể bỏ qua email này.</p>
<p>Mật khẩu tài khoản của bạn sẽ không thay đổi cho tới khi bạn nhấp vào link và tạo mật khẩu mới</p>
